body{
    color: #333;
    font-family: 'Montserrat', sans-serif;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin: 0px;
}
html,body{
    background-image: linear-gradient(to left,#ccd5ae,#e9edc9);
    background-attachment: fixed;
}
/*Scrollbar Hiding*/
body::-webkit-scrollbar{
    display: none;
}
.topage{
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #d4a373;
    border: 2px solid #33333357;
}
.topage:hover{
    border: 2px solid #333;
    color: #ccd5ae;
}
header{
    margin-bottom: 3rem;
    border-bottom: 2px solid #d4a373;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
p{
    text-align: center;
}
.card{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 1rem !important;
    border: 2px solid #ccd5ae !important;
    background-color: #faedcd;
}
#st{
    padding: 1rem;
    letter-spacing: 1.5px;
    background-color: rgba(254, 250, 224,0.8);
    color: #333;
    border-radius: 1rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}
.nav-link, .navbar-brand{
    color: #d4a373 !important;
}
.nav-link:hover, .navbar-brand:hover{
    color: #faedcd !important;
}
a{
    outline: none;
    text-decoration: none;
    text-shadow: none;
    color: white;
}
h1{
    text-shadow: 0.05rem 0.05rem 0.05rem #333;
    letter-spacing: 3px;
}
@keyframes slideout{
    from {
        margin-left: auto;
        margin-right: auto;
        width: 10%;
    }
    to {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}
header.slideout{
    animation: slideout 1.5s both;
}
.main-text{
    margin-top: 3.5rem;
    height: 4.2rem;
    margin-left: 16rem;
    margin-right: 16rem;
}
@keyframes mtupslide{
    from {
        opacity: 0%;
        transform: translateY(3rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}
@keyframes stupslide{
    from {
        opacity: 0%;
        transform: translateY(-3rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}
@keyframes pupslide{
    from {
        opacity: 0%;
        transform: scale(50%);
    }
    to {
        opacity: 100%;
        transform: scale(100%);
    }
}
@keyframes navdownslide{
    from {
        opacity: 0%;
        transform: translateY(-3rem);
    }
    to {
        opacity: 100%;
        transform: translateY(0rem);
    }
}
#mt.mtupslide{
    animation:mtupslide 1.5s ease;
}
#st.stupslide{
    animation:stupslide 2.5s ease;
}
nav.navdownslide{
    animation:navdownslide 1.5s ease;
}
